.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan
*.pem
*.tfstate
*.tfstate.*
.terraform/
node_modules
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.git